# <center><u>NLP- Youtube Comment Scraping- Sentimemt Analysis</u>

### <u>**Importing Numba and cuda for GPU:**</u>

In [1]:
import numba
from numba import cuda
numba.__version__

'0.55.1'

### <u>Importing Selenium</u>

In [2]:
import selenium

### <u>Importing an NLP toolkit: For Sentiment Analysis:: vanderSentiment</u>

In [3]:
!pip install vaderSentiment

Collecting vaderSentiment
  Using cached vaderSentiment-3.3.2-py2.py3-none-any.whl (125 kB)
Requirement already satisfied: requests in c:\users\anjali chawda\anaconda3\lib\site-packages (from vaderSentiment) (2.27.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\anjali chawda\anaconda3\lib\site-packages (from requests->vaderSentiment) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in c:\users\anjali chawda\anaconda3\lib\site-packages (from requests->vaderSentiment) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\anjali chawda\anaconda3\lib\site-packages (from requests->vaderSentiment) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\anjali chawda\anaconda3\lib\site-packages (from requests->vaderSentiment) (2.0.4)
Installing collected packages: vaderSentiment
Successfully installed vaderSentiment-3.3.2

### <u>Importing webdriver from selenium and setting parameters</u>

In [4]:
from selenium import webdriver                    #import webDriver
import warnings 
warnings.filterwarnings('ignore')
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')        #remove this for easy debbuing on your laptop /pc
chrome_options.add_argument('--no-sandbox')                             
chrome_options.add_argument('--disable-dev-shm-usage')
driver = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

### <u>Calling the youtube.com and searching for a title::</u>

In [5]:
# from selenium.webdriver.chrome.options import Options
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import time

driver_service = Service(executable_path= "C:\SeleniumDriver\chromedriver.exe")
driver = webdriver.Chrome()
driver.implicitly_wait(10)
# get the url
url = "https://www.youtube.com/"
driver.get(url)
driver.implicitly_wait(30)

search_element = driver.find_element(By.NAME, 'search_query')
search_element.click()
search_element.send_keys("samsung ultra s22 reviews" + Keys.ENTER)
time.sleep(5)


driver.execute_script("window.scrollTo(0, 30000);")
titles = driver.find_elements(By.XPATH ,'//a[@id="video-title"]')

print(len(titles))

def data(text):
    before_keyword, keyword, after_keyword = text.partition('by')
    list = text.split(' ')
    title = before_keyword.split(' ')[0:3]
    channel = after_keyword.split(' ')[1:2]
    views = (' ').join(list[-2:])

    return {'title': title,'channel':channel, 'views':views}


list = []
for i in range(len(titles)):
    
  dict = data(titles[i].get_attribute('aria-label'))  
  dict["url"] = titles[i].get_attribute('href')
  list.append(dict)

data = pd.DataFrame(list)

24

### <u>Displaying the output DataFrame</u>

In [6]:
data

,title,channel,views,url
0,"[Samsung, Galaxy, S22]",[Trakin],"1,897,090 views",https://www.youtube.com/watch?v=IDgVeZllhlA
1,"[Galaxy, S22, Ultra]",[Marques],"4,819,499 views",https://www.youtube.com/watch?v=vXIAB_1FEC0
2,"[Samsung, Galaxy, S22]",[Tech],"96,156 views",https://www.youtube.com/watch?v=JCHt4UfNcx4
3,"[Samsung, Galaxy, S22]",[Tech],"3,794,913 views",https://www.youtube.com/watch?v=F8KkaWkzEvg
4,"[Samsung, Galaxy, S22]",[Trakin],"61,013 views",https://www.youtube.com/watch?v=025hnGS4ZDY
5,"[The, Samsung, S22]",[Mrwhosetheboss],"7,704,503 views",https://www.youtube.com/watch?v=nVwOd_6yyf8
6,"[Galaxy, S22, Ultra]",[Android],"447,927 views",https://www.youtube.com/watch?v=b4I7c4GY-3I
7,"[Samsung, S22, Ultra]",[Onsitego],"138,529 views",https://www.youtube.com/watch?v=Z-VPI4mXfP8
8,"[The, Real, KING]",[TechBar],"591,895 views",https://www.youtube.com/watch?v=TRG8euc-zWo
9,"[Samsung, Galaxy, S22]",[GadgetByte],"107,340 views",https://www.youtube.com/watch?v=c_WVVJQvXYQ
10,"[Samsung, Galaxy, S22]",[Technical],"1,884,786 views",https://www.youtube.com/watch?v=yCgj-r5xwt4
11,"[My, Favourite, Smartphone]",[Gyan],"622,574 views",https://www.youtube.com/watch?v=AF4fLMCTPHw
12,"[Samsung, Galaxy, S22]",[XEETECHCARE],"480,131 views",https://www.youtube.com/watch?v=DGjj77bq8gc
13,"[Samsung, Galaxy, S22]",[Shane],"312,211 views",https://www.youtube.com/watch?v=L9nRlZXwXGM
14,"[Samsung, S22, Ultra]",[Marine],"60,484 views",https://www.youtube.com/watch?v=mqQXo_fmuio
15,"[REGRETTING!, Galaxy, S22]",[CKid],"40,227 views",https://www.youtube.com/watch?v=7TSdwPBBXyk
16,"[Samsung, Galaxy, S22]",[Geekyranjit],"209,279 views",https://www.youtube.com/watch?v=Xyve7aAFhwc
17,"[Samsung, Galaxy, S22]",[GSMArena],"642,232 views",https://www.youtube.com/watch?v=ohlVy2jYTjY
18,"[Samsung, Galaxy, S22,]",[Unbox],"2,378,539 views",https://www.youtube.com/watch?v=OlapSPEs5YI
19,"[GOOD, AND, BAD!]",[Tech],"130,949 views",https://www.youtube.com/watch?v=RAzhE5VSfgU
20,"[This, Flagship, Android]",[Venom's],"189,809 views",https://www.youtube.com/watch?v=disw_KgCfwE
21,"[Samsung, Galaxy, S22]",[GT],"61,264 views",https://www.youtube.com/watch?v=ZVSLZL57gP4
22,"[Samsung, Galaxy, S22]",[Prasadtechintelugu],"460,788 views",https://www.youtube.com/watch?v=mZ47kv1I8SA
23,"[Samsung, Galaxy, S22]",[Tech],"288,398 views",https://www.youtube.com/watch?v=q0j5oV7f1qs

### <u>Cleaning the DataFrame</u>

In [7]:
convert_dict = {'title': str,
                'channel': str}
data.astype(convert_dict)

,title,channel,views,url
0,"['Samsung', 'Galaxy', 'S22']",['Trakin'],"1,897,090 views",https://www.youtube.com/watch?v=IDgVeZllhlA
1,"['Galaxy', 'S22', 'Ultra']",['Marques'],"4,819,499 views",https://www.youtube.com/watch?v=vXIAB_1FEC0
2,"['Samsung', 'Galaxy', 'S22']",['Tech'],"96,156 views",https://www.youtube.com/watch?v=JCHt4UfNcx4
3,"['Samsung', 'Galaxy', 'S22']",['Tech'],"3,794,913 views",https://www.youtube.com/watch?v=F8KkaWkzEvg
4,"['Samsung', 'Galaxy', 'S22']",['Trakin'],"61,013 views",https://www.youtube.com/watch?v=025hnGS4ZDY
5,"['The', 'Samsung', 'S22']",['Mrwhosetheboss'],"7,704,503 views",https://www.youtube.com/watch?v=nVwOd_6yyf8
6,"['Galaxy', 'S22', 'Ultra']",['Android'],"447,927 views",https://www.youtube.com/watch?v=b4I7c4GY-3I
7,"['Samsung', 'S22', 'Ultra']",['Onsitego'],"138,529 views",https://www.youtube.com/watch?v=Z-VPI4mXfP8
8,"['The', 'Real', 'KING']",['TechBar'],"591,895 views",https://www.youtube.com/watch?v=TRG8euc-zWo
9,"['Samsung', 'Galaxy', 'S22']",['GadgetByte'],"107,340 views",https://www.youtube.com/watch?v=c_WVVJQvXYQ
10,"['Samsung', 'Galaxy', 'S22']",['Technical'],"1,884,786 views",https://www.youtube.com/watch?v=yCgj-r5xwt4
11,"['My', 'Favourite', 'Smartphone']",['Gyan'],"622,574 views",https://www.youtube.com/watch?v=AF4fLMCTPHw
12,"['Samsung', 'Galaxy', 'S22']",['XEETECHCARE'],"480,131 views",https://www.youtube.com/watch?v=DGjj77bq8gc
13,"['Samsung', 'Galaxy', 'S22']",['Shane'],"312,211 views",https://www.youtube.com/watch?v=L9nRlZXwXGM
14,"['Samsung', 'S22', 'Ultra']",['Marine'],"60,484 views",https://www.youtube.com/watch?v=mqQXo_fmuio
15,"['REGRETTING!', 'Galaxy', 'S22']",['CKid'],"40,227 views",https://www.youtube.com/watch?v=7TSdwPBBXyk
16,"['Samsung', 'Galaxy', 'S22']",['Geekyranjit'],"209,279 views",https://www.youtube.com/watch?v=Xyve7aAFhwc
17,"['Samsung', 'Galaxy', 'S22']",['GSMArena'],"642,232 views",https://www.youtube.com/watch?v=ohlVy2jYTjY
18,"['Samsung', 'Galaxy', 'S22,']",['Unbox'],"2,378,539 views",https://www.youtube.com/watch?v=OlapSPEs5YI
19,"['GOOD', 'AND', 'BAD!']",['Tech'],"130,949 views",https://www.youtube.com/watch?v=RAzhE5VSfgU
20,"['This', 'Flagship', 'Android']","[""Venom's""]","189,809 views",https://www.youtube.com/watch?v=disw_KgCfwE
21,"['Samsung', 'Galaxy', 'S22']",['GT'],"61,264 views",https://www.youtube.com/watch?v=ZVSLZL57gP4
22,"['Samsung', 'Galaxy', 'S22']",['Prasadtechintelugu'],"460,788 views",https://www.youtube.com/watch?v=mZ47kv1I8SA
23,"['Samsung', 'Galaxy', 'S22']",['Tech'],"288,398 views",https://www.youtube.com/watch?v=q0j5oV7f1qs

In [8]:
data['views'] = data['views'].str.replace('views', '')
data['views'] = data['views'].str.replace(',', '')
data['views'] = data['views'].str.replace('play Short', '0')

print(data['views'].dtypes)

object

In [9]:
data['views'] = pd.to_numeric(data['views'], errors= 'coerce')
print(data['views'])

0     1897090
1     4819499
2       96156
3     3794913
4       61013
5     7704503
6      447927
7      138529
8      591895
9      107340
10    1884786
11     622574
12     480131
13     312211
14      60484
15      40227
16     209279
17     642232
18    2378539
19     130949
20     189809
21      61264
22     460788
23     288398
Name: views, dtype: int64

In [10]:
data

,title,channel,views,url
0,"[Samsung, Galaxy, S22]",[Trakin],1897090,https://www.youtube.com/watch?v=IDgVeZllhlA
1,"[Galaxy, S22, Ultra]",[Marques],4819499,https://www.youtube.com/watch?v=vXIAB_1FEC0
2,"[Samsung, Galaxy, S22]",[Tech],96156,https://www.youtube.com/watch?v=JCHt4UfNcx4
3,"[Samsung, Galaxy, S22]",[Tech],3794913,https://www.youtube.com/watch?v=F8KkaWkzEvg
4,"[Samsung, Galaxy, S22]",[Trakin],61013,https://www.youtube.com/watch?v=025hnGS4ZDY
5,"[The, Samsung, S22]",[Mrwhosetheboss],7704503,https://www.youtube.com/watch?v=nVwOd_6yyf8
6,"[Galaxy, S22, Ultra]",[Android],447927,https://www.youtube.com/watch?v=b4I7c4GY-3I
7,"[Samsung, S22, Ultra]",[Onsitego],138529,https://www.youtube.com/watch?v=Z-VPI4mXfP8
8,"[The, Real, KING]",[TechBar],591895,https://www.youtube.com/watch?v=TRG8euc-zWo
9,"[Samsung, Galaxy, S22]",[GadgetByte],107340,https://www.youtube.com/watch?v=c_WVVJQvXYQ
10,"[Samsung, Galaxy, S22]",[Technical],1884786,https://www.youtube.com/watch?v=yCgj-r5xwt4
11,"[My, Favourite, Smartphone]",[Gyan],622574,https://www.youtube.com/watch?v=AF4fLMCTPHw
12,"[Samsung, Galaxy, S22]",[XEETECHCARE],480131,https://www.youtube.com/watch?v=DGjj77bq8gc
13,"[Samsung, Galaxy, S22]",[Shane],312211,https://www.youtube.com/watch?v=L9nRlZXwXGM
14,"[Samsung, S22, Ultra]",[Marine],60484,https://www.youtube.com/watch?v=mqQXo_fmuio
15,"[REGRETTING!, Galaxy, S22]",[CKid],40227,https://www.youtube.com/watch?v=7TSdwPBBXyk
16,"[Samsung, Galaxy, S22]",[Geekyranjit],209279,https://www.youtube.com/watch?v=Xyve7aAFhwc
17,"[Samsung, Galaxy, S22]",[GSMArena],642232,https://www.youtube.com/watch?v=ohlVy2jYTjY
18,"[Samsung, Galaxy, S22,]",[Unbox],2378539,https://www.youtube.com/watch?v=OlapSPEs5YI
19,"[GOOD, AND, BAD!]",[Tech],130949,https://www.youtube.com/watch?v=RAzhE5VSfgU
20,"[This, Flagship, Android]",[Venom's],189809,https://www.youtube.com/watch?v=disw_KgCfwE
21,"[Samsung, Galaxy, S22]",[GT],61264,https://www.youtube.com/watch?v=ZVSLZL57gP4
22,"[Samsung, Galaxy, S22]",[Prasadtechintelugu],460788,https://www.youtube.com/watch?v=mZ47kv1I8SA
23,"[Samsung, Galaxy, S22]",[Tech],288398,https://www.youtube.com/watch?v=q0j5oV7f1qs

### <u>Sorting the videos accoring to the highest number of views(high --> low)</u>

In [11]:
data['views'].dtypes

# get the top video links based on top video views
data.sort_values('views', ascending = False, inplace = True)

In [12]:
data

,title,channel,views,url
5,"[The, Samsung, S22]",[Mrwhosetheboss],7704503,https://www.youtube.com/watch?v=nVwOd_6yyf8
1,"[Galaxy, S22, Ultra]",[Marques],4819499,https://www.youtube.com/watch?v=vXIAB_1FEC0
3,"[Samsung, Galaxy, S22]",[Tech],3794913,https://www.youtube.com/watch?v=F8KkaWkzEvg
18,"[Samsung, Galaxy, S22,]",[Unbox],2378539,https://www.youtube.com/watch?v=OlapSPEs5YI
0,"[Samsung, Galaxy, S22]",[Trakin],1897090,https://www.youtube.com/watch?v=IDgVeZllhlA
10,"[Samsung, Galaxy, S22]",[Technical],1884786,https://www.youtube.com/watch?v=yCgj-r5xwt4
17,"[Samsung, Galaxy, S22]",[GSMArena],642232,https://www.youtube.com/watch?v=ohlVy2jYTjY
11,"[My, Favourite, Smartphone]",[Gyan],622574,https://www.youtube.com/watch?v=AF4fLMCTPHw
8,"[The, Real, KING]",[TechBar],591895,https://www.youtube.com/watch?v=TRG8euc-zWo
12,"[Samsung, Galaxy, S22]",[XEETECHCARE],480131,https://www.youtube.com/watch?v=DGjj77bq8gc
22,"[Samsung, Galaxy, S22]",[Prasadtechintelugu],460788,https://www.youtube.com/watch?v=mZ47kv1I8SA
6,"[Galaxy, S22, Ultra]",[Android],447927,https://www.youtube.com/watch?v=b4I7c4GY-3I
13,"[Samsung, Galaxy, S22]",[Shane],312211,https://www.youtube.com/watch?v=L9nRlZXwXGM
23,"[Samsung, Galaxy, S22]",[Tech],288398,https://www.youtube.com/watch?v=q0j5oV7f1qs
16,"[Samsung, Galaxy, S22]",[Geekyranjit],209279,https://www.youtube.com/watch?v=Xyve7aAFhwc
20,"[This, Flagship, Android]",[Venom's],189809,https://www.youtube.com/watch?v=disw_KgCfwE
7,"[Samsung, S22, Ultra]",[Onsitego],138529,https://www.youtube.com/watch?v=Z-VPI4mXfP8
19,"[GOOD, AND, BAD!]",[Tech],130949,https://www.youtube.com/watch?v=RAzhE5VSfgU
9,"[Samsung, Galaxy, S22]",[GadgetByte],107340,https://www.youtube.com/watch?v=c_WVVJQvXYQ
2,"[Samsung, Galaxy, S22]",[Tech],96156,https://www.youtube.com/watch?v=JCHt4UfNcx4
21,"[Samsung, Galaxy, S22]",[GT],61264,https://www.youtube.com/watch?v=ZVSLZL57gP4
4,"[Samsung, Galaxy, S22]",[Trakin],61013,https://www.youtube.com/watch?v=025hnGS4ZDY
14,"[Samsung, S22, Ultra]",[Marine],60484,https://www.youtube.com/watch?v=mqQXo_fmuio
15,"[REGRETTING!, Galaxy, S22]",[CKid],40227,https://www.youtube.com/watch?v=7TSdwPBBXyk

### <u>Getting the top viewed Video data in href DataFrame:</u>

In [13]:
href = pd.DataFrame(data['url'][0:15]).reset_index()
href.drop(['index'],axis = 1,inplace = True)
href.head()

                                           url
0  https://www.youtube.com/watch?v=nVwOd_6yyf8
1  https://www.youtube.com/watch?v=vXIAB_1FEC0
2  https://www.youtube.com/watch?v=F8KkaWkzEvg
3  https://www.youtube.com/watch?v=OlapSPEs5YI
4  https://www.youtube.com/watch?v=IDgVeZllhlA

### <u>Extracting the comments of anyone of the top 5 viewed videos:</u>

In [14]:
from selenium.webdriver import Chrome
import time
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

comments = []
names = []
likes = []

try:
      with Chrome('chromedriver',chrome_options=chrome_options) as driver:
          wait = WebDriverWait(driver, 15)
          driver.get(href['url'][2])

          for item in range(80):
              wait.until(EC.visibility_of_element_located((By.TAG_NAME, "body"))).send_keys(Keys.CONTROL + Keys.END)
              time.sleep(10)
          for name in wait.until(EC.presence_of_all_elements_located((By.CSS_SELECTOR,'#header-author'))):
              names.append(name.text)
          for comment in wait.until(EC.presence_of_all_elements_located((By.CSS_SELECTOR, "#content"))):
              comments.append(comment.text)
          for like in wait.until(EC.presence_of_all_elements_located((By.CSS_SELECTOR, "#vote-count-middle"))):
              likes.append(like.text)

except:
    print("Comments not found")


import pandas as pd

df = pd.DataFrame(zip(names, comments, likes),columns=['Names', 'Comments', 'Likes'])
print(df)

                                                 Names  \
0                         Tafseer Rahman\n7 months ago
1                                    Avi\n7 months ago
2                               MHHemal\n7 months ago
3                Gaming Station\n7 months ago (edited)
4                       SONU GAMING 1.7K\n7 months ago
...                                                ...
1595                 s\n7 months ago (edited)
1596                           J A T I N\n7 months ago
1597  Nisha's 10k challenge with 0 video\n7 months ago
1598                         LXN HERE !!\n7 months ago
1599                       DANMUG GAMING\n7 months ago

                                               Comments Likes
0     IN\nSKIP NAVIGATION\nSIGN IN\nView products\n0...   815
1                                                         218
2                                                        1.6K
3                                                         119
4                                                          35
...                                                 ...   ...
1595                      Charger nahi hai kya box mein
1596                                 I want This Mobile
1597                       Are itte Paisa na hai humpe
1598  Next level editing 1.57 pe bhai kehte he 144hz...
1599  can i get any phne from you as subscriber gift...

[1600 rows x 3 columns]

### <u>Number of comments extracted:</u>

In [15]:
df.shape

(1600, 3)

In [16]:
df.head(20)

,Names,Comments,Likes
0,Tafseer Rahman\n7 months ago,IN\nSKIP NAVIGATION\nSIGN IN\nView products\n0...,815
1,Avi\n7 months ago,,218
2,MHHemal\n7 months ago,,1.6K
3,Gaming Station\n7 months ago (edited),,119
4,SONU GAMING 1.7K\n7 months ago,,35
5,Anay\n6 months ago,,28
6,Ragboy's Interesting life\n7 months ago,,115
7,NOT -509\n7 months ago,Samsung ka naya Flagship dekh liya jaye!\n#Sam...,1
8,Nikhil Nikhi\n4 months ago,Almost 1.1 Million sales in 7 days says a lot ...,42
9,Japneet kaur\n6 months ago,MY GODDDDDDD FINALLY SHLOK WITH S22 series.......,21
10,300 subscriber challenge in 10 days\n7 months ago,The Ultra looks so good.. I'm already saving m...,20
11,Aniket Self Defense Shorts\n7 months ago,Second time( first time was by samsung z flip)...,2
12,10K SUBSCRIBER WITHOUT VIDEO\n7 months ago,Can we all just appreciate the content this ma...,84
13,Srinivas Reddy\n6 months ago,Finally upgraded from S10 Plus Exynos to S22 U...,12
14,TOXIC EDITZ\n7 months ago,Samsung Rocked this time with S22 Ultra! SD ...,1
15,ravindra zine\n7 months ago,One of the best things about dude is that he n...,27
16,SARVADNYA DESIGN\n2 months ago,Ultra Flagship by Samsung . And no other comp...,
17,Faisal akhtar\n7 months ago,Dang! The camera quality was pretty good accor...,22
18,Anirban Dutta\n6 months ago,one of the best thing about dude is that\n\nwh...,5
19,Mahfuz Ahmed\n7 months ago,*LET'S we all just appreciate the content this...,21

### <u>Cleaning the data:</u>

In [18]:
import numpy as np
arr = np.where(df.applymap(lambda x: x == ''))

In [20]:
arr

(array([   1,    2,    3, ..., 1597, 1598, 1599], dtype=int64),
 array([1, 1, 1, ..., 2, 2, 2], dtype=int64))

In [21]:
df.drop(index = arr[0], inplace = True)

In [29]:
df

,Names,Comments,Likes
0,Tafseer Rahman\n7 months ago,IN\nSKIP NAVIGATION\nSIGN IN\nView products\n0...,815
7,NOT -509\n7 months ago,Samsung ka naya Flagship dekh liya jaye!\n#Sam...,1
8,Nikhil Nikhi\n4 months ago,Almost 1.1 Million sales in 7 days says a lot ...,42
9,Japneet kaur\n6 months ago,MY GODDDDDDD FINALLY SHLOK WITH S22 series.......,21
10,300 subscriber challenge in 10 days\n7 months ago,The Ultra looks so good.. I'm already saving m...,20
...,...,...,...
1571,Anomalous Gaming\n7 months ago,Bhai Samsung or moto which I buy,1
1578,Soham Maind\n7 months ago,40 mp selfi,1
1580,Extra pix story\n7 months ago,iq9 se unboxing pls sir,1
1585,Aan gaming zone\n7 months ago,Nice video,1
1586,ROHIT 21\n7 months ago (edited),I Phone Cs 3 Coming,1

In [30]:
np.where(df.applymap(lambda x: x == ''))

(array([], dtype=int64), array([], dtype=int64))

In [45]:
nlp_data = df
nlp_data = nlp_data['Names'].str.split('\n', expand=True)
nlp_data.rename(columns = {'0': 'Names','1': 'Old'} ,inplace = True)
nlp_data.head()

                                      0             1
0                        Tafseer Rahman  7 months ago
7                              NOT -509  7 months ago
8                          Nikhil Nikhi  4 months ago
9                          Japneet kaur  6 months ago
10  300 subscriber challenge in 10 days  7 months ago

In [46]:
nlp_data.rename(columns = {0 : 'Names', 1 : 'Old', 'Comments':'Comments' ,'Likes':'Likes' }, inplace = True)

In [47]:
nlp_data.head()

                                  Names           Old
0                        Tafseer Rahman  7 months ago
7                              NOT -509  7 months ago
8                          Nikhil Nikhi  4 months ago
9                          Japneet kaur  6 months ago
10  300 subscriber challenge in 10 days  7 months ago

In [48]:
nlp_data['Comments'] = df['Comments']
nlp_data['Likes'] = df['Likes']

In [49]:
nlp_data.head(20)

,Names,Old,Comments,Likes
0,Tafseer Rahman,7 months ago,IN\nSKIP NAVIGATION\nSIGN IN\nView products\n0...,815
7,NOT -509,7 months ago,Samsung ka naya Flagship dekh liya jaye!\n#Sam...,1
8,Nikhil Nikhi,4 months ago,Almost 1.1 Million sales in 7 days says a lot ...,42
9,Japneet kaur,6 months ago,MY GODDDDDDD FINALLY SHLOK WITH S22 series.......,21
10,300 subscriber challenge in 10 days,7 months ago,The Ultra looks so good.. I'm already saving m...,20
11,Aniket Self Defense Shorts,7 months ago,Second time( first time was by samsung z flip)...,2
12,10K SUBSCRIBER WITHOUT VIDEO,7 months ago,Can we all just appreciate the content this ma...,84
13,Srinivas Reddy,6 months ago,Finally upgraded from S10 Plus Exynos to S22 U...,12
14,TOXIC EDITZ,7 months ago,Samsung Rocked this time with S22 Ultra! SD ...,1
15,ravindra zine,7 months ago,One of the best things about dude is that he n...,27
17,Faisal akhtar,7 months ago,Dang! The camera quality was pretty good accor...,22
18,Anirban Dutta,6 months ago,one of the best thing about dude is that\n\nwh...,5
19,Mahfuz Ahmed,7 months ago,*LET'S we all just appreciate the content this...,21
20,Aniket Self Defense Shorts,7 months ago,Congratulations. I'm so glad this channel is g...,6
21,MachaaYT,7 months ago,Samsung's new strategy is to give s-pen with e...,10
22,Mr. Experiment India,7 months ago,One of the best thing about dude is that he ne...,4
23,Ravi bandari,7 months ago,After watching so many reviews of S22 ultra fr...,4
24,Good News Today,1 month ago,One best thing about dude is that he never tak...,2
25,Soumya Cs,7 months ago,Love the smartphone as well as the reviewer st...,1
28,Interesting Trending stuff,7 months ago,LET'S we all just appreciate the content this ...,52

In [50]:
nlp_data['Likes'].dtypes

dtype('O')

In [51]:
nlp_data['Likes'] = pd.to_numeric(nlp_data['Likes'], errors= 'coerce')
nlp_data

,Names,Old,Comments,Likes
0,Tafseer Rahman,7 months ago,IN\nSKIP NAVIGATION\nSIGN IN\nView products\n0...,815
7,NOT -509,7 months ago,Samsung ka naya Flagship dekh liya jaye!\n#Sam...,1
8,Nikhil Nikhi,4 months ago,Almost 1.1 Million sales in 7 days says a lot ...,42
9,Japneet kaur,6 months ago,MY GODDDDDDD FINALLY SHLOK WITH S22 series.......,21
10,300 subscriber challenge in 10 days,7 months ago,The Ultra looks so good.. I'm already saving m...,20
...,...,...,...,...
1571,Anomalous Gaming,7 months ago,Bhai Samsung or moto which I buy,1
1578,Soham Maind,7 months ago,40 mp selfi,1
1580,Extra pix story,7 months ago,iq9 se unboxing pls sir,1
1585,Aan gaming zone,7 months ago,Nice video,1
1586,ROHIT 21,7 months ago (edited),I Phone Cs 3 Coming,1

In [52]:
# get the top video links based on top video views
nlp_data.sort_values('Likes', ascending = False, inplace = True)

In [53]:
nlp_data.head(20)

,Names,Old,Comments,Likes
0,Tafseer Rahman,7 months ago,IN\nSKIP NAVIGATION\nSIGN IN\nView products\n0...,815
62,Tamil Tech Central,7 months ago,I literally don't have any words....\nthis is ...,183
114,Divyansh Rao,7 months ago,Like ur videos so much ...but can't afford suc...,124
12,10K SUBSCRIBER WITHOUT VIDEO,7 months ago,Can we all just appreciate the content this ma...,84
151,sports facts,7 months ago,MY EXAM START FROM TOMORROW AND I AM WATCHING ...,70
65,Ketan Jangid,7 months ago,Samsung se aag laga di jaye doston,69
28,Interesting Trending stuff,7 months ago,LET'S we all just appreciate the content this ...,52
8,Nikhil Nikhi,4 months ago,Almost 1.1 Million sales in 7 days says a lot ...,42
86,MULTImedia unboxing,7 months ago,One of the best thing about dude is that he\nn...,36
81,RDX LOKI,7 months ago,Just loved it,35
52,Bad SJ Gamer,7 months ago,Welcome back to another episode of can't affor...,29
15,ravindra zine,7 months ago,One of the best things about dude is that he n...,27
17,Faisal akhtar,7 months ago,Dang! The camera quality was pretty good accor...,22
19,Mahfuz Ahmed,7 months ago,*LET'S we all just appreciate the content this...,21
9,Japneet kaur,6 months ago,MY GODDDDDDD FINALLY SHLOK WITH S22 series.......,21
10,300 subscriber challenge in 10 days,7 months ago,The Ultra looks so good.. I'm already saving m...,20
57,Roshan Dixit,7 months ago,Tech burner would reach conqueror one day just...,19
70,vijay verma,7 months ago,I want This Mobile,14
59,10K SUBSCRIBER WITHOUT VIDEO,7 months ago,Extraordinary fantastic mobile I need this imm...,13
37,3058_Rahul Dewangan,7 months ago,samsung flagship with the snapdragon processor...,12

In [54]:
nlp_data.reset_index(inplace = True)

In [56]:
nlp_data.columns

Index(['index', 'Names', 'Old', 'Comments', 'Likes'], dtype='object')

In [58]:
nlp_data.drop('index',axis = 1,inplace = True)

In [60]:
nlp_data.head(20)

,Names,Old,Comments,Likes
0,Tafseer Rahman,7 months ago,IN\nSKIP NAVIGATION\nSIGN IN\nView products\n0...,815
1,Tamil Tech Central,7 months ago,I literally don't have any words....\nthis is ...,183
2,Divyansh Rao,7 months ago,Like ur videos so much ...but can't afford suc...,124
3,10K SUBSCRIBER WITHOUT VIDEO,7 months ago,Can we all just appreciate the content this ma...,84
4,sports facts,7 months ago,MY EXAM START FROM TOMORROW AND I AM WATCHING ...,70
5,Ketan Jangid,7 months ago,Samsung se aag laga di jaye doston,69
6,Interesting Trending stuff,7 months ago,LET'S we all just appreciate the content this ...,52
7,Nikhil Nikhi,4 months ago,Almost 1.1 Million sales in 7 days says a lot ...,42
8,MULTImedia unboxing,7 months ago,One of the best thing about dude is that he\nn...,36
9,RDX LOKI,7 months ago,Just loved it,35
10,Bad SJ Gamer,7 months ago,Welcome back to another episode of can't affor...,29
11,ravindra zine,7 months ago,One of the best things about dude is that he n...,27
12,Faisal akhtar,7 months ago,Dang! The camera quality was pretty good accor...,22
13,Mahfuz Ahmed,7 months ago,*LET'S we all just appreciate the content this...,21
14,Japneet kaur,6 months ago,MY GODDDDDDD FINALLY SHLOK WITH S22 series.......,21
15,300 subscriber challenge in 10 days,7 months ago,The Ultra looks so good.. I'm already saving m...,20
16,Roshan Dixit,7 months ago,Tech burner would reach conqueror one day just...,19
17,vijay verma,7 months ago,I want This Mobile,14
18,10K SUBSCRIBER WITHOUT VIDEO,7 months ago,Extraordinary fantastic mobile I need this imm...,13
19,3058_Rahul Dewangan,7 months ago,samsung flagship with the snapdragon processor...,12

## <u>NLP- Part:2 </u>

### <u>**Text Pre-processing**</u>

### <u>Importing NLP libraries and download NLTK: </u>

In [124]:
import nltk
nltk.download('vader_lexicon')
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
sentiments = SentimentIntensityAnalyzer()

[nltk_data] Downloading package vader_lexicon to C:\Users\Anjali
[nltk_data]     Chawda\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

### <u>Calculating Polarity scores of the comments:</u>

In [125]:
nlp_data['Positive'] = [sentiments.polarity_scores(i)['pos'] for i in nlp_data['Comments']]
nlp_data['Negative'] = [sentiments.polarity_scores(i)['neg'] for i in nlp_data['Comments']]
nlp_data['Neutral'] = [sentiments.polarity_scores(i)['neu'] for i in nlp_data['Comments']]
nlp_data['Compound'] = [sentiments.polarity_scores(i)['compound'] for i in nlp_data['Comments']]

In [126]:
score = nlp_data["Compound"].values

In [127]:
score

array([1.    , 0.5972, 0.8096, ..., 0.7346, 0.6249, 0.4767])

In [128]:
sentiment = []
for i in score:
  if i >= 0.05:
    sentiment.append('Positive')
  elif i <= -0.05:
    sentiment.append('Negative')
  else :
    sentiment.append('Neutral')
nlp_data['Sentiment'] = sentiment
nlp_data.head()

,Names,Old,Comments,Positive,Negative,Neutral,Compound,Sentiment
0,Lens,3 weeks ago,IN\nSKIP NAVIGATION\nSIGN IN\n 0:02 / 22:20\n...,0.161,0.044,0.795,1.0000,Positive
8,Don't read profile photo,10 days ago,iPhone 14 Pro and iPhone 14 Pro Max have 3 mai...,0.170,0.000,0.830,0.5972,Positive
9,PiXimperfect,3 weeks ago,I honestly think the Dynamic Island is just an...,0.188,0.000,0.812,0.8096,Positive
10,Mark Cuban,2 weeks ago,Whenever I hear about satellite modes from US-...,0.050,0.035,0.915,0.2481,Positive
11,O'brien Nyahuye,2 weeks ago,To me personally the true limit of the new cam...,0.101,0.000,0.899,0.6310,Positive

In [129]:
nlp_final = nlp_data.drop(['Positive', 'Negative','Neutral','Compound'], axis = 1)
nlp_final.head()

,Names,Old,Comments,Sentiment
0,Lens,3 weeks ago,IN\nSKIP NAVIGATION\nSIGN IN\n 0:02 / 22:20\n...,Positive
8,Don't read profile photo,10 days ago,iPhone 14 Pro and iPhone 14 Pro Max have 3 mai...,Positive
9,PiXimperfect,3 weeks ago,I honestly think the Dynamic Island is just an...,Positive
10,Mark Cuban,2 weeks ago,Whenever I hear about satellite modes from US-...,Positive
11,O'brien Nyahuye,2 weeks ago,To me personally the true limit of the new cam...,Positive

In [130]:
nlp_final.head(20)

,Names,Old,Comments,Sentiment
0,Lens,3 weeks ago,IN\nSKIP NAVIGATION\nSIGN IN\n 0:02 / 22:20\n...,Positive
8,Don't read profile photo,10 days ago,iPhone 14 Pro and iPhone 14 Pro Max have 3 mai...,Positive
9,PiXimperfect,3 weeks ago,I honestly think the Dynamic Island is just an...,Positive
10,Mark Cuban,2 weeks ago,Whenever I hear about satellite modes from US-...,Positive
11,O'brien Nyahuye,2 weeks ago,To me personally the true limit of the new cam...,Positive
12,Jesse J,2 weeks ago,"Never been a fan of apple, I just switched to ...",Positive
13,Sephsekla,3 weeks ago,LG was so underrated but novel in many of thei...,Positive
14,Synapse,3 days ago,As an avid mountaineer the satellite communica...,Positive
15,Karunanidhi NIRAJ KAMAL,2 weeks ago (edited),LG has made significant contributions to the t...,Positive
16,Aljermain Brown,2 weeks ago,When I used the iPhone 14 pro on a shop displa...,Positive
17,Ben Weeks,15 hours ago,Love the LG mention. Its a shame that they we...,Positive
18,Nav Subedi,3 weeks ago,"Not here for Apple, but for Marques' incredibl...",Neutral
19,Bob Berardino,2 weeks ago,This certainly is not a significant upgrade fr...,Positive
20,Brandon Porter,2 weeks ago,The only drawback I see with the dynamic islan...,Positive
21,Jeffrey Chen,2 weeks ago,Not updating this year but i absolutely love h...,Positive
22,Linwood Arrington,3 weeks ago,I really hope the dynamic island isn't copied!...,Positive
23,Big Fat Panda,2 weeks ago,I remember the first video I watched of Marque...,Positive
24,Jonathan Sanders,2 weeks ago,I loved the v10 with that double screen which ...,Positive
25,Kunal Rajda,5 days ago,great vid! one thing Id like to touch about t...,Positive
26,Edymark Cycling Adventure,7 days ago,Your explanations and reviews are really on po...,Positive

## <u>Exploratory Data Analysis:</u>

### <u>Cleaning the data, Lemmatizing the Comments:</u>

In [131]:
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.stem import lancaster
import re

nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem.snowball import stopwords
stop_words = stopwords.words('english')
porter_stemmer = nltk.PorterStemmer()
lancaster_stemmer = nltk.LancasterStemmer()
snowball_stemmer = nltk.SnowballStemmer(language = 'english')
lzr = WordNetLemmatizer()

nltk.download('omw-1.4')
nltk.download('punkt')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to C:\Users\Anjali
[nltk_data]     Chawda\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package omw-1.4 to C:\Users\Anjali
[nltk_data]     Chawda\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
[nltk_data] Downloading package punkt to C:\Users\Anjali
[nltk_data]     Chawda\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to C:\Users\Anjali
[nltk_data]     Chawda\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [132]:
from nltk.corpus.reader.tagged import word_tokenize
from string import punctuation
stopwords = nltk.corpus.stopwords.words('english')
def text_processing(text):

  #convert text into lowercase
  text = text.lower()

  # remove new line characters in text
  text = re.sub(r'\n',' ', text)

  # remover punctuation
  text = re.sub('[%s]'% re.escape(punctuation), "", text)

  # remove references and hashtags from text
  text = re.sub("^a-zA-Z0-9$,.", "", text)

  # remove multiple spaces from text
  text = re.sub(r'\s+', ' ', text, flags=re.I)

  text = ' '.join([word for word in word_tokenize(text) if word not in stop_words])

  # lemmatizer using WordNetLemmatizer from nltk package
  text = ' '.join([lzr.lemmatize(word) for word in word_tokenize(text)])

  return text

In [133]:
copy_data = nlp_final.copy()

In [134]:
copy_data.Comments = copy_data.Comments.apply(lambda text: text_processing(text))

### <u>LabelEncoding the Categorical Column :: Sentiment</u>

In [135]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
copy_data['Sentiment'] = le.fit_transform(copy_data['Sentiment'])

In [136]:
processed_data = {
    'Sentence': copy_data.Comments,
    'Sentiment': copy_data['Sentiment']
}
processed_data = pd.DataFrame(processed_data)
processed_data.head()

                                             Sentence  Sentiment
0   skip navigation sign 002 2220  intro iphone 1...          2
8   iphone 14 pro iphone 14 pro max 3 main new thi...          2
9   honestly think dynamic island another one smal...          2
10  whenever hear satellite mode usbased reviewer ...          2
11  personally true limit new camera implement 5x ...          2

In [138]:
processed_data['Sentiment'].value_counts()

2    1118
1     234
0     221
Name: Sentiment, dtype: int64

In [139]:
df_neutral = processed_data[(processed_data['Sentiment'] == 1)]
df_negative = processed_data[(processed_data['Sentiment']== 0)]
df_positive = processed_data[(processed_data['Sentiment']== 2)]

In [142]:
import random
# upsampled minority classes
from sklearn.utils import resample
df_negative_upsampled = resample(df_negative, replace = True , n_samples = 221, random_state=42 )

df_neutral_upsampled = resample(df_neutral, replace = True, n_samples = 234, random_state = 42)

# Concatenate the upsampled dataframes with the neutral dataframe
final_data = pd.concat([df_negative_upsampled,df_neutral_upsampled,df_positive])

In [143]:
final_data.head()

                                               Sentence  Sentiment
692                        ill always miss lg steve job          0
1242  lg v20 built audio converter chip featuring hi...          0
648   dynamic island interesting cool absolutely wor...          0
160   possible every year new iphones released apple...          0
735   1050 okay  spent time disagree everywhere els...          0

In [144]:
final_data.shape

(1573, 2)

In [145]:
final_data['Sentiment'].value_counts()

2    1118
1     234
0     221
Name: Sentiment, dtype: int64

In [146]:
from sklearn.model_selection import train_test_split
X = final_data['Sentence']
y = final_data['Sentiment']

X_train, X_test , y_train, y_test = train_test_split(X, y , test_size = 0.3 , random_state = 0)

In [147]:
print("Train:",X_train.shape,y_train.shape,"Test:" ,(X_test.shape,y_test.shape))

Train: (1101,) (1101,) Test: ((472,), (472,))

In [148]:
from nltk import corpus
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer= TfidfVectorizer()
tf_x_train = vectorizer.fit_transform(X_train).toarray()
tf_x_test = vectorizer.transform(X_test).toarray()

### <u>Gaussian Naive Bayes Classifier :: </u>

In [149]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(tf_x_train, y_train)

GaussianNB()

In [150]:
from sklearn.metrics import confusion_matrix, accuracy_score
y_pred = gnb.predict(tf_x_test)
cm = confusion_matrix(y_test, y_pred)
cm

array([[ 35,   0,  33],
       [  1,  38,  29],
       [  8,   3, 325]], dtype=int64)

In [151]:
nb_score = accuracy_score(y_test, y_pred)
print('accuracy',nb_score)

accuracy 0.8432203389830508

### <u>Support Vector Machine ::</u>

In [152]:
from sklearn.svm import LinearSVC
clf = LinearSVC(random_state=0)
clf.fit(tf_x_train,y_train)

LinearSVC(random_state=0)

In [153]:
y_test_pred_svm =clf.predict(tf_x_test)

In [154]:
from sklearn.metrics import classification_report
report_svm =classification_report(y_test, y_test_pred_svm,output_dict=True)
report_svm

{'0': {'precision': 0.9487179487179487,
  'recall': 0.5441176470588235,
  'f1-score': 0.6915887850467289,
  'support': 68},
 '1': {'precision': 0.851063829787234,
  'recall': 0.5882352941176471,
  'f1-score': 0.6956521739130435,
  'support': 68},
 '2': {'precision': 0.8523316062176166,
  'recall': 0.9791666666666666,
  'f1-score': 0.9113573407202216,
  'support': 336},
 'accuracy': 0.8601694915254238,
 'macro avg': {'precision': 0.8840377949075998,
  'recall': 0.7038398692810457,
  'f1-score': 0.7661994332266646,
  'support': 472},
 'weighted avg': {'precision': 0.8660351284480331,
  'recall': 0.8601694915254238,
  'f1-score': 0.8486196010408028,
  'support': 472}}